<div>
    <h1>Listado de Productos</h1>
    {{#each productList}}
        <div>
            <p>Id:{{this.id}} Title: {{this.title}} Description:{{this.description}} Code: {{this.code}} Price: {{this.price}} Stock: {{this.stock}}</p>
        </div>
    {{/each}}
 </div>
 