<div style="width:75%; float: left">
    <h2 style="padding:5px; margin-left:2%">List of Products in Real Time</h2>
    <div id="list">
    {{#each products}}
    <div>
        <p>Id:{{this.id}} Title: {{this.title}} Description:{{this.description}} Code: {{this.code}} Price:
            {{this.price}} StockC {{this.stock}} Category: {{this.category}}</p>
    </div>
    {{/each}}  
    </div>
</div>

<div style= "width: 15% ; float: left; border: 1px solid black; box-shadow: 2px 2px 1px 1px grey; padding: 0 30px; margin: 50px 2% 10px">
    <h4>Add Product</h4>

		<label for="title">Title</label>
		<input type="text" id="title" name="title" placeholder="Text"><br>

		<label for="description">Descripcion:</label>
		<input type="text" id="description" name="description" placeholder="Text"><br>

        <label for="code">Code:</label>
		<input type="text" id="code" name="code" placeholder="Text"><br>

		<label for="price">Price:</label>
		<input type="text" id="price" name="price" placeholder="Number"><br>

		<label for="stock">Stock:</label>
		<input type="text" id="stock" name="stock" placeholder="Number"><br>

		<label for="category">Category:</label>
		<input type="text" id="category" name="category" placeholder="Text"><br>
        
		<button type="button" value="agregar" id="agregar" onclick="addProduct()" style="margin: 5px auto">Add Product</button> 
        	
</div>
<div style= "width: 15% ; float: left; border: 1px solid black; box-shadow: 2px 2px 1px 1px grey; padding: 0 30px; margin: 10px 2% 20px">
    <h4>Activate/Deactivate Product</h4>
 
        <label for="id">Id:</label>
		<input type="text" id="id" name="id" placeholder="Number"><br>
        <button type="button" value="Delete producto" onclick="deleteProduct()" style="margin: 5px auto">Deactivate Product</button>
        <button type="button" value="Activater producto" onclick="activateProduct()" style="margin: 0 auto 5px auto">Activate Product</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

{{!-- <script src="/public/index.js"></script> --}}


{{!--************************************************************************************************* 
**                                                                                                  **
**    Cuando quiero pasar el siguiente script a un archivo separado el navegador me da el error     **
**    http://localhost:8083/public/index.js net::ERR_ABORTED 404 (Not Found)                        **
**    u otro indicando la ruta en el cual la coloco                                                 **
**    y las funciones quedan sin definir                                                            **
**                                                                                                  **
***************************************************************************************************--}}

<script> 

    var socket = io()

    var list= document.getElementById("list");

    socket.on('listProducts', (data) => {
        let html = ProductListHtml(data);
        list.innerHTML = html;
    }); 

    const addProduct = () => {
    var title = document.getElementById("title").value;
    var description = document.getElementById("description").value;
    var code = document.getElementById("code").value;
    var price = document.getElementById("price").value;
    var category = document.getElementById("category").value;
    var stock = document.getElementById("stock").value;
       if (title == "" || description == "" || code == "" || price == "" || stock == "" || category == "") {
        alert("Please, complete all the fields of the form.");
        return 
    }   
    price = parseInt(price)
    stock= parseInt(stock)

    if (isNaN(price) || isNaN(stock)){
        alert("Wrong fields")
    }
    let producto = {
        title,
        description,
        code,
        price,
        stock, 
        category
    }   
    if (!producto.status) {
        producto.status = true
    }  
    socket.emit('addProduct', producto);
}

const deleteProduct = () => {
    var id = document.getElementById("id").value;         
    id = parseInt(id) 
    socket.emit('deleteProduct', id);
}

const activateProduct = () => {
    var id = document.getElementById("id").value;         
    id = parseInt(id) 
    socket.emit('activateProduct', id);
}
function ProductListHtml(data) {
  
    return data.map((product) => {
        return `<div >
             <p style='box-shadow: 2px 2px 1px 1px grey; width:75%; border: 1px solid black; padding:5px; margin-left:1.5%'>
                Id:   ${product.id}   Title:    ${product.title}    Description:   ${product.description}  Code:  ${product.code} Price:
                ${product.price}   Category:  ${product.category}   Stock:   ${product.stock}
            </div>`; 
    })
    .join(' ');    
}
</script>